<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>View orders</h1>
	<% 	if(orders.length > 0) {
	%>
			<h4><%= user.name %> has ordered <%= orders.length %> coffee<%= (orders.length === 1) ? '' : 's' %>.</h4>
			<table class="table">
				<tr>
					<th>Coffee</th>
					<th>Store</th>
					<th>Status</th>
				</tr>
		<% 	_.each(orders, function(order){
		%>
				<tr>
					<td>
						<p><b><%= order.coffee.name %></b></p>
						<p><small><%= order.coffee.category %></small></p>
					</td>
					<td>
						<p><b><%= order.location.name %></b><p>
						<p><small><%= order.location.address %></small><p>
					</td>
					<td>
						<select name="order-status" order-id="<%= order.id %>" class="form-control">
					<% 	_.each(status, function(name){
							if (name === order.status){
					%>
								<option value="<%= name %>" selected><%= name %></option>
					<%		} else {
					%>
								<option value="<%= name %>"><%= name %></option>
					<%		}
						});
					%>
						</select>
					</td>
				</tr>
		<%	}) 
		%>
			</table>
	<%	} else { 
	%>
			<p>User had not placed any order</p>
	<%	}
	%>
			
		</div>
	</div>
</div>